body {
  font-family: "Roboto", sans-serif;
}

.homepage-container {
  height: calc(100svh - 70px);
  padding: 20px;
  display: flex;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
